@model Hospital.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <center>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </center>

        </dt>
        <dd class="col-sm-10">
            <center>
                @Html.DisplayFor(model => model.DepartmentName)
            </center>
        </dd>
        <dt class="col-sm-2">
            <center>
                @Html.DisplayNameFor(model => model.DedpartmentDescription)
            </center>
        </dt>
        <dd class="col-sm-10">
            <center>
                @Html.DisplayFor(model => model.DedpartmentDescription)
            </center>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index"><i class="fas fa-undo-alt"></i></a> |
    <a asp-action="Edit" asp-route-id="@Model.DeptId"><i class="far fa-edit"></i></a>
</div>
